<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <title>Document</title>   
  <link rel="stylesheet" href="../bear_css/content.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>TITLE</h1>
    </header>
    <div class="memo-container">
        <h1 class="title">
            테스트1
        </h1>
        <h2 class="description">
            테스트2
        </h2>
        <div class="createdAt">
            <span>2024.02.15</span>
        </div>
        <p class="content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium quod beatae dolores voluptates modi neque optio, rem hic sit aliquid totam quas ex et laudantium. Laboriosam laborum odio sit aspernatur?
        </p>
    </div>
</body>
</html>

